PORT=5000
MONGO_URL=mongodb://<user>:<password>@192.168.1.30:27017/ilap_shop?authSource=admin
JWT_SECRET=super_secret_key
JWT_REFRESH_SECRET=super_refresh_secret
FRONTEND_URL=http://localhost:5173
ADMIN_DEFAULT_PASSWORD=StrongAdminPass123!
MINIO_ENDPOINT=192.168.1.30
MINIO_ACCESS_KEY=<minio_user>
MINIO_SECRET_KEY=<minio_pass>
