@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS cho Hero Banner */
.hero-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1542751371-adc38448a05e?ixlib=rb-4.0.3&auto=format&fit=crop&w=2070&q=80'); /* Ảnh nền Gaming Setup */
    background-size: cover;
    background-position: center;
}